{% extends 'base.html' %}
{% block title %}
Huevo de Pascua
{% endblock %}
{% block content %}
<center>
    <div style="width: 50%">
        <br>
        <br>
        <br>
        <h1 style="font-size: 80px;">
            LA GALERÍA
        </h1>
        <p>
            por Juan G
        </p>
    </div>
    <div>
        <p style="font-style: italic;">
            17. f. pl. Tienda o almacén de cierta importancia.
        </p>
    </div>
    <div style="width: 50%; text-align: justify;">
        <p>
            Después de varios meses aburriendo a todo el que me conoce con un único
            tema de conversación que consiste en tres letras y que está relacionado con
            acabar la carrera, aquí os presento eso que tanto tiempo llevo haciendo y de
            lo que estoy (menos mal) un poco orgulloso solo.
        </p>
        <p>
            Si habéis llegado a este huevo de pascua o 'easter egg' es que sois unos
            intrépidos informáticos, por lo que espero que en un futuro no me
            pidáis que os arregle el móvil o que os ayude a comprar un portátil.
        </p>
        <p>
            Esta etapa ha acabado, ya llega la vida adulta y por fin podré tener tiempo los fines de semana y que me paguen.
            <del>Ah no, que sigo en los scouts</del>.

        </p>
        <p>
            Ahora en serio, gracias por haber tenido la curiosidad y haber echado el tiempo
            de buscar este huevo de pascua, se siente bien el poder hacer un proyecto interesante
            y que la acogida haya sido buena.
        </p>
        <p>
            Vuesto todavía-no-graduado-de-la-USAL-por-informática favorito,
            <br>
            Juan
        </p>
    </div>
    <div>
        <br>
        <br>
        <p>
            #TFG
            #TodavíaFaltaGraduarme
            #TodossomosFelipeGonzalez
            #TengounaFamiliaGuay
            #TengoFaltadeGanardineroqueyaheestudiadomucho
            #siTuvieraunFerrariGuau
            #TacosconFiletesGlaseados
        </p>
    </div>
</center>
{% endblock %}